body {
    margin: 0;
    background: #90c9ef;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.main {
    display: flex;
    gap: 40px;
}

.calc {
    background: #c5e4ff;
    padding: 25px;
    width: 260px;
    border-radius: 18px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.display {
    background: #fafefe;
    color: #00e676;
    height: 70px;
    border-radius: 12px;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 12px;
}

button {
    border: none;
    height: 55px;
    border-radius: 14px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.18s;
    font-weight: 500;
}

.num {
    background: #ececec;
}

.op {
    background: #ffb84d;
}

.clear {
    background: #ff6961;
}

.equal {
    background: #72c7ff;
}

.zero {
    grid-column: span 2;
}

button:hover {
    transform: translateY(-3px);
}

.history {
    background: #ffffff;
    width: 240px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.history h2 {
    margin-top: 0;
}

#history-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

#history-list li {
    padding: 10px;
    background: #f4f6f8;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
